<div class="row" style="margin-left: 10px;margin-top: 20px;">
  <h4>Analytics</h4>
</div>
<div class="row" style="margin: 20px 0px 20px 10px;">
  <button class="btn btn-outline-success my-2 my-sm-0"><a href="/">Home</a></button>
</div>
<div class="row">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Short Url</th>
        <th> Visits Today</th>
        <th> Total Visits </th>
      </tr>
    </thead>
    <tbody>
      <% @short_urls.each do |shorturl| %>
        <tr>
          <td><%= link_to "#{'localhost:3000/'+ shorturl.short_url}", "/#{shorturl.short_url}", target:"_blank" %></td>
          <td><%= @today_analytics.length > 0  ? @today_analytics.select{|x| x.shorturl_id == shorturl.id}.count : 0 %></td>
          <td><%= shorturl.visits %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
