<button class="btn btn-outline-success my-2 my-sm-0"><a href="/shorturls/analytics">Analytics</a></button>
<nav class="navbar navbar-light bg-light">
  <%= form_with(class:"form-inline", url: '/shorturls/create_short_url', method: 'post', model: Shorturl.new, remote: true) do |form| %>
    <%= form.text_field :original_url, class:"form-control mr-sm-2", placeholder:"Enter Url" %>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
  <% end %>
</nav>
<nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    Paste the link and submit to get Short Url
  </span>
</nav>
<div id="display-short-url-result">
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-text" id="display-result">  
    </span>
  </nav>
</div>
<script>
</script>